.card {
  min-height: 40vh;
  width: 27vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px #5f45de;
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  transition: 0.3s ease-in all;
  @media screen and (max-width: 1000px) {
    width: 11rem;
    min-height: 20vh;
    font-size: 1rem;
    margin: 0.3rem;
  }
  &:hover {
    background-color: #5f45de70;
    cursor: pointer;
  }
  .card-image {
    overflow: hidden;
    img {
      height: 30vh;
      width: 27vh;
      object-fit: cover;
      transition: 0.3s ease-in all;
      &:hover {
        transform: scale(1.2);
      }
      @media screen and (max-width: 650px) {
        width: 24vh;
        height: 20vh;
      }
    }
  }
  .card-info {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    @media screen and (max-width: 1000px) {
      font-size: 1rem;
    }
  }
}
.card-link {
  text-decoration: none;
  color: black;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #5f45de70;
  border-radius: 1rem;
  transition: 0.4s ease-in all;

  background: rgba(255, 255, 255, 0.363);
  &:hover {
    background: #5f45de70;
  }
}
