.card {
  height: 30vh;
  width: 15vh;
  display: flex;
  flex-direction: column;
  .card-image {
    height: 60%;
    width: 100%;
  }
  .card-info {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
