.chatBot {
  position: fixed;
  right: 0;
  bottom: 0;
}
.chatBot-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: #80f1fa;
  border-radius: 2rem;
  &:hover {
    cursor: pointer;
  }
  @media screen and(max-width:575px) {
    height: 2rem;
    width: 2rem;
  }
}
.svg-icon {
  transform: scale(1.8);
  @media screen and(max-width:575px) {
    transform: scale(1);
  }
}
.chatBot-window {
  height: 25rem;
  width: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #80f1fa;
  border-radius: 1rem;
  .window-chat-items {
    display: flex;
    flex-direction: column;
  }
  .window-header {
    display: flex;
    justify-content: space-between;
    span {
      margin: 0.5rem;
    }
    .close-icon {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
  .window-chat {
    height: 80%;
    width: 20rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @media screen and(max-width:575px) {
      width: 10rem;
    }
    @media screen and(max-width:1200px) {
      width: 15rem;
    }
  }
  .message-look {
    min-height: fit-content;
    width: 13rem;
    word-wrap: break-word;
    font-size: 1rem;
    margin: 0.25rem;
    background-color: white;
    border-radius: 1rem;
    padding: 6px;
    span {
      margin: 0.5rem;
    }
    @media screen and(max-width:575px) {
      width: 5rem;
    }
    @media screen and(max-width:1200px) {
      width: 10rem;
    }
  }

  input {
    width: 80%;
    font-size: 1.5rem;
    border-radius: 0px 0px 0rem 1rem;
    text-indent: 5px;
    border-right: none;
  }
  button {
    width: 20%;
    font-size: 1.5rem;
    border-radius: 0px 0px 1rem 0rem;
    background-color: #80b3f5;
    border-left: none;
  }
  @media screen and(max-width:575px) {
    height: 15rem;
    width: 10rem;
  }
  @media screen and(max-width:1200px) {
    height: 20rem;
    width: 15rem;
  }
}
