.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -5px;
}
.home-component {
  min-height: 70vh;
  width: 60%;
  display: flex;
  .left-side {
    width: 30%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);

    ul {
      li {
        padding: 2rem 0rem;
        list-style: none;
        letter-spacing: 2px;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .right-side {
    background-color: #60b5ff67;
    width: 70%;
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .text {
      padding: 0rem 2rem;
      font-size: 1.5rem;
      letter-spacing: 2px;
      span {
        color: #5f45de;
      }
    }
    .image {
      height: 50%;
      img {
        height: 30vh;
        width: 30vh;
        padding: 1rem;
        border-radius: 5vh;
      }
    }
    .cards {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .card-meal {
        height: 10rem;
        width: 10rem;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px #5f45de;
        transition: 0.3s ease-in all;
        color: black;
        background: linear-gradient(
          to left top,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.9)
        );
        &:hover {
          background-color: #5f45de70;
          cursor: pointer;
        }
      }
    }
  }
}
