.mealDetails {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -5px;
}
.mealDetails-container {
  min-height: 70vh;
  width: 60%;
  font-size: 1.5rem;
  h1 {
    text-align: center;
    padding: 1rem 0rem;
    font-size: 2rem;
  }
  .meal-image {
    img {
      height: 40vh;
      width: 60vh;
      object-fit: cover;
    }
  }
  .steps {
    padding: 2rem 1rem;

    h3 {
      padding: 1rem 0rem;

      p {
        font-weight: lighter;
        color: #6f94e3;
      }
    }
  }
  .ingredients {
    padding: 0rem 1rem;

    .ingredient {
      padding: 0.2rem 0rem;
      font-size: 1.5rem;
      color: #8062e3;
      input {
        height: 20px;
        width: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.mainDetails {
  .smallDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 1rem;
  }
  display: flex;
  span {
    font-weight: bold;
    color: black;
  }
  p {
    color: #8062e3;
  }
}

.item-checked {
  text-decoration: line-through;
}
.ingredients-amount {
  color: black;
}
.step-click {
  &:hover {
    cursor: pointer;
  }
}

.step-done {
  color: gray;
}
.step-not-done {
  color: #7c83fd;
}

.nutrition {
  padding: 1rem 0rem;
  span {
    padding: 0rem 1rem;
  }
  .more {
    text-decoration: #7c83fd underline;
    &:hover {
      cursor: pointer;
    }
  }
}

.full-nutrition {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  .items {
    min-height: 70vh;
    margin: 3rem 0rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    .one-item {
      font-size: 1rem;
      border-bottom: 1px solid #7c82fd8c;
    }
    @media screen and (max-height: 700px) {
      font-size: 0.7rem;
      margin-top: 25rem;
    }
  }
}
.similar-header {
  padding: 2rem 0rem;
}
.mealDetails-similar {
  display: flex;
  flex-wrap: wrap;
}
