.answerPage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -5px;
}
.answerPage-component {
  min-height: 40vh;
  width: 60%;
  background-color: #60b5ff67;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.answerPage-header {
  display: flex;
  input {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.5rem;
    background-color: #a994f57e;
    &:hover {
      cursor: pointer;
    }
  }
}
.answerPage-article {
  display: flex;
  font-size: 1.5rem;
  padding: 2rem 0rem;
}
