.recipesPage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -5px;
}
.recipesPage-component {
  min-height: 70vh;
  width: 60%;
  background-color: #60b5ff67;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.recipesPage-items {
  display: flex;
  flex-wrap: wrap;
}
