.recipesPage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -5px;
}
.recipesPage-component {
  min-height: 70vh;
  width: 60%;
  background-color: #60b5ff67;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 2rem;
}
.recipesPage-header {
  padding: 0rem 2rem;
}
.recipesPage-sorting-component {
  display: flex;
  flex-wrap: wrap;
}
.recipesPage-header-sort {
  display: flex;

  flex-direction: column;
  font-size: 1.5rem;
  padding-right: 1rem;
  select {
    font-size: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.recipesPage-items {
  display: flex;
  flex-wrap: wrap;
}

.number-of-results {
  width: 100%;
  padding: 2rem 0rem;
  background-color: #7da9fa;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px gray;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
