.searched {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -5px;
}
.searched-component {
  min-height: 70vh;
  width: 60%;
  background-color: #60b5ff67;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.results-amount {
  font-size: 1.5rem;
  padding: 1rem;
}
.searchedPage-header {
  padding: 0rem 1rem;
  select {
    margin: 0rem 1rem;
  }
}
.searched-item {
  h1 {
    padding: 0rem 1rem;
  }
}
.items-type {
  display: flex;
  flex-wrap: wrap;
}
