* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Yusei Magic", sans-serif;
}
.Link {
  text-decoration: none;
}
@import "./home";
@import "./nav";
@import "./card";
@import "./breakfast";
@import "./mealPage";
@import "./mealDetails";
