.smallPage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -5px;
}
.smallPage-component {
  min-height: 40vh;
  width: 60%;
  background-color: #9fafda81;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 2rem;
  h1 {
    text-align: center;
    padding: 2rem 0rem;
    font-size: 2rem;
    color: white;
  }
  .item {
    font-size: 1.5rem;
    text-align: center;
    color: black;
  }
  .another-item {
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    border: 1px solid #211fde;
    background-color: #672ff586;
    &:hover {
      cursor: pointer;
    }
  }
}
